<div class='row'>
	<div class='col-md-9'>
		<h3>About Us</h3>
		<p>Founded by Mark Ransom in 1990 and situated on Pimlico Road in the heart of Chelsea, Ransom Art is one of the London’s leading dealers in contemporary art and photography.
		</p>
		<p>We offer rare and unique photographs and works of art from established names such as Francis Bacon, Salvador Dali, Lucian Freud, Andy Warhol, William Scott, Banksy and Terry O’Neill to the more recently acclaimed Tim Woolcock and Masaki Yada.
		</p>
		<p>The gallery has a reputation for excellence, integrity and discretion that it continues to earn by providing an excellent service to discerning clients.</p>
	</div>
	<div class='col-md-3'>
		<img src='img/ransom.jpg' style=height:250px>
	</div>
</div>
