<h2>Artists</h2>
<div class='row'>
  <div class="col-md-4">
    <div class='thumbnail'>
      <a href="/andywarhol">
        <img src="img/andywarhol/img001.jpg" alt="">
      </a>
      <div class='caption'>
        <h4>Andy Warhol</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class='thumbnail'>
      <a href="/timwoolcock">
        <img src="img/timwoolcock/img001.jpg" alt="">
      </a>
      <div class='caption'>
        <h4>Tim Woolcock</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class='thumbnail'>
      <a href="/masakiyada">
        <img src="img/masakiyada/img001.jpg" alt="">
      </a>
      <div class='caption'>
        <h4>Masaki Yada</h4>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-6">
    <div class='thumbnail'>
      <a href="/carinthiawest">
        <img src="img/carinthiawest/img001.jpg" alt="">
      </a>
      <div class='caption'>
        <h4>Carinthia West</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class='thumbnail'>
      <a href="/keithharing">
        <img src="img/keithharing/img001.jpg" alt="">
      </a>
      <div class='caption'>
        <h4>Keith Haring</h4>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-6">
    <div class='thumbnail'>
      <a href="/terryoneilllimited">
        <img src="img/terryoneillltded/img001.jpg" alt="">
      </a>
      <div class='caption'>
        <h4>Terry O'Neill Limited Editions</h4>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='thumbnail'>
      <a href='/terryoneillvintage'>
        <img src='img/terryoneillvintage/img001.jpg' alt=''>
      </a>
      <div class='caption'>
        <h4>Terry O'Neill Vintage</h4>
      </div>
    </div>
  </div>
</div>