<div class='row contact'>
	<div class='col-md-3 details'>
		<h4>Address</h4>
		<p>Ransom Art<br>
		   105 Pimlico Road,<br>
		   London,<br>
		   SW1W 8PH
		</p>
		<h4>Tel</h4>
		<p>020 7259 0220</p>
		<h4>Email</h4>
		<p>contact@markransom.co.uk</p>
		<h4>Find Us Online</h4>
        <p class='social'><a href="http://www.twitter.com/ransomart"><i class="fa fa-twitter fa-3x"></i>Twitter</p></a>
        <p class='social'><a href="http://www.facebook.com/ransomgallery"><i class="fa fa-facebook-square fa-3x"></i>Facebook</p></a>
        <p class='social'><a href="http://www.pinterest.com/r4n5om/boards"><i class="fa fa-pinterest fa-3x"></i>Pinterest</p></a>
	</div>
	<div class="col-md-9 map">
		<iframe width="850" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=105+Pimlico+Rd,+London&amp;aq=0&amp;oq=105+pimloco&amp;sll=51.490178,-0.153798&amp;sspn=0.003213,0.008256&amp;ie=UTF8&amp;hq=&amp;hnear=105+Pimlico+Rd,+London+SW1W+8PH,+United+Kingdom&amp;t=m&amp;ll=51.489961,-0.155461&amp;spn=0.00668,0.014999&amp;z=16&amp;output=embed"></iframe>
	</div>
</div>