<div class='row'>
	<div class='col-md-9'>
		<h4>Terry O'Neill - Bond and Beyond</h4>
		<p>In the year of the 60th anniversary of the creation of James Bond by Ian Fleming, this retrospective features coveted backstage photographs of the world’s best known special agent. Bond and Beyond also includes portraits of giants of the film, music and sports worlds such as Frank Sinatra, Steve McQueen, The Beatles, Mohammed Ali, Brigitte Bardot, Steve McQueen, The Beatles and Elizabeth Taylor.</p>
		<p>Terry’s arrival on the scene in 1963 inspired a revolution in intimate portrait photography. There was none of the old stuffy formality, indeed many of these icons became his mates. As he said about his way of working: “There was no posing, or studios or special lighting. It was fresh, new and up close…” The end result is this extraordinary retrospective of one of the 20th Century’s most collected photographers.</p>
		<p>Terry’s photographs from the 60s and 70s are among his most prized, yet for some of them the negatives are missing, and this makes this exhibition a very rare opportunity to view these original and unique works of art.</p>
	</div>
	<div class='col-md-3'>
		<img src='img/terryoneillvintage/img034.jpg' style=height:300px>
	</div>
</div>
