<div class='row'>
	<div class='col-md-4'>
		<a href='/past'>
			<h3>Past Exhibitions</h3>
		</a>
	</div>
	<div class='col-md-4'>
		<a href='/current'>
			<h3>Current Exhibitions</h3>
		</a>
	</div>
	<div class='col-md-4'>
		<a href='/upcoming'>
			<h3>Upcoming Exhibitions</h3>
		</a>
	</div>
</div>
