<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/keithharing/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>
				<h4>Gymnast</h5>
				<h6>Felt Tip pen on paper, 1986</h6>
				<h6>H 10 x W 16 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/keithharing/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>
				<h4>Sharing Love</h4>
				<h6>Felt tip pen on paper, 1987</h6>
				<h6>H 13 x W 18 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/keithharing/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>
				<h4>Windsurfer</h4>
				<h6>Felt tip pen on paper, 1987</h6>
				<h6>H 21 x W 15 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/keithharing/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>
				<h4>Victory</h4>
				<h6>Felt tip pen on paper, 1988</h6>
				<h6>H 14 x W 23 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/keithharing/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Gymnast</h5>
					<h6>Felt Tip pen on paper, 1986</h6>
					<h6>H 10 x W 16 cm</h6>
					<h6>Ref: KH_04</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/keithharing/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sharing Love</h4>
					<h6>Felt tip pen on paper, 1987</h6>
					<h6>H 13 x W 18 cm</h6>
					<h6>Ref: KH_03</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/keithharing/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Windsurfer</h4>
					<h6>Felt tip pen on paper, 1987</h6>
					<h6>H 21 x W 15 cm</h6>
					<h6>Ref: KH_02</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/keithharing/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Victory</h4>
					<h6>Felt tip pen on paper, 1988</h6>
					<h6>H 14 x W 23 cm</h6>
					<h6>Ref: KH_01</h6>
				</div>
			</div>
		</div>
	</div>
</div>