<div class='row'>
	<div class='col-md-4'>
		<img src='img/keithharing/img001.jpg'>
		<p>
			<h4>Gymnast</h5>
			<h6>Felt Tip pen on paper, 1986</h6>
			<h6>H 10 x W 16 cm</h6>
		</p>
	</div>
	<div class='col-md-4'>
		<img src='img/keithharing/img002.jpg'>
		<p>
			<h4>Sharing Love</h4>
			<h6>Felt tip pen on paper, 1987</h6>
			<h6>H 13 x W 18 cm</h6>
		</p>
	</div>
	<div class='col-md-4'>
		<img src='img/keithharing/img003.jpg'>
		<p>
			<h4>Windsurfer</h4>
			<h6>Felt tip pen on paper, 1987</h6>
			<h6>H 21 x W 15 cm</h6>
		</p>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<img src='img/keithharing/img004.jpg'>
		<p>
			<h4>Victory</h4>
			<h6>Felt tip pen on paper, 1988</h6>
			<h6>H 14 x W 23 cm</h6>
		</p>
	</div>
</div>