<!DOCTYPE html>
<html>
  <head>
    <title>Ransom Art</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-overrides.css" rel="stylesheet" media="screen">
  </head>
  <body> 
    <div class="hero-unit">
      <div class="main-header">
        <h1>R A N S O M </h1><h1 style="color:grey;"> A R T</h1>
      </div>
      <div class='container'>
        <div class="navbar">
          <div class="navbar-inner">
              <ul class="nav">
                <li><a href="/">HOME</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/artists">ARTISTS</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/exhibitions">EXHIBITIONS</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/about">ABOUT US</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/about">CONSULTANCY</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/contact">CONTACT</a></li>
                <li class="divider-vertical"></li>
                <li class='tel'><p>(0207) 259 0220</p></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
      <div class='container'>
      <%= yield %>
    </div>
        <footer>
          <div class='container mainfoot'>
            <div class='span4 footerspan'>
              <h5>Opening Hours</h5>
              <p class='foot'>Monday - 10:00am - 6:00pm</p>
              <p class='foot'>Tuesday - 10:00am - 6:00pm</p>
              <p class='foot'>Wednesday - 10:00am - 6:00pm</p>
              <p class='foot'>Thursday - 10:00am - 6:00pm</p>
              <p class='foot'>Friday - 10:00am - 6:00pm</p>
              <p class='foot'>Saturday - 10:00am - 6:00pm</p>
              <p class='foot'>Sunday - Closed </p>
            </div>
            <div class='span4 footerspan'>
              <h5>Address</h5>
              <p class='foot'>Ransom Art</p>
              <p class='foot'>105 Pimlico Road</p>
              <p class='foot'>London</p>
              <p class='foot'>SW1W 8PH</p>
            </div>
            <div class='span4 footerspan'>
              <h5>Find Us Online</h5>
              <a class='icon-facebook:before'></a>
              <img src='img/twitter.svg'>
              <img src='img/pinterest.svg'>
            </div>
          </div>
        </footer>

  </body>

</html>

