<!DOCTYPE html>
<html>
  <head>
    <title>Ransom Art</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-overrides.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body> 
    <div class="jumbotron">
      <div class="main-header">
        <center>
        <img src='img/header_logo.png'>
      </center>
      </div>
      <!-- <div class='tel'>+44 (0)20 7259 0220</div>       -->
        <div class='container'>
        <nav class="navbar navbar-default" role='navigation'>
          <div class="navbar-inner">
              <ul class="nav navbar-nav">
                <li><a href="/">HOME</a></li>
                <li class="divider"></li>
                <li><a href="/artists">ARTISTS</a></li>
                <li class="divider"></li>
                <li><a href="/exhibitions">EXHIBITIONS</a></li>
                <li class="divider"></li>
                <li><a href="/about">ABOUT US</a></li>
                <li class="divider"></li>
                <li><a href="/consultancy">CONSULTANCY</a></li>
                <li class="divider"></li>
                <li><a href="/contact">CONTACT</a></li>
                <li class="divider"></li></h5>
                <li class='navbar-right'><h4 class='tel'>+44 (0)20 7259 0220</h4>
              </ul>
          </div>
        </nav>
      </div>
    </div>
      <div class='container'>
      <%= yield %>
    </div>
        <footer>
          <div class='container mainfoot'>
            <div class="row">
              <div class='col-md-4 footerspan'>
                <h5>Opening Hours</h5>
                <p class='foot'>Monday - 10:00am - 6:00pm</p>
                <p class='foot'>Tuesday - 10:00am - 6:00pm</p>
                <p class='foot'>Wednesday - 10:00am - 6:00pm</p>
                <p class='foot'>Thursday - 10:00am - 6:00pm</p>
                <p class='foot'>Friday - 10:00am - 6:00pm</p>
                <p class='foot'>Saturday - 10:00am - 6:00pm</p>
                <p class='foot'>Sunday - Closed </p>
              </div>
              <div class='col-md-4 footerspan'>
                <h5>Address</h5>
                <p class='foot'>Ransom Art</p>
                <p class='foot'>105 Pimlico Road</p>
                <p class='foot'>London</p>
                <p class='foot'>SW1W 8PH</p>
              </br>
                <p><a href="/contact">Find us on a map</a></p>
              </div>
              <div class='col-md-44 footerspan'>
                <h5>Find Us Online</h5>
                <p class='social'><a href="http://www.twitter.com/ransomart"><i class="fa fa-twitter fa-3x"></i>Twitter</p></a>
                <p class='social'><a href="http://www.facebook.com/ransomgallery"><i class="fa fa-facebook-square fa-3x"></i>Facebook</p></a>
                <p class='social'><a href="http://www.pinterest.com/r4n5om/boards"><i class="fa fa-pinterest fa-3x"></i>Pinterest</p></a>

              </div>
            </div>
          </div>
        </footer>

  </body>

</html>

