<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>
				<h4>Raquel Welch - One Million Years BC, 7/50</h5>
				<h6>Colour Photograph, Los Angeles, 1968</h6>
				<h6>H 183 x W 183 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>
				<h4>Frank Sinatra with his stand-in and bodyguards arriving on location, 49/50</h4>
				<h6>Black and White Photograph, Miami Beach, 1968</h6>
				<h6>H 122 x 183 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>
				<h4>David Bowie - Working on the Album cover for 'Diamond Dogs', 6/50 </h4>
				<h6>Black and White Photograph, London, 1975</h6>
				<h6>H 183 x W 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>
				<h4>Raquel Welch, 1/50</h4>
				<h6>Black and White Photograph, Los Angeles, 1970</h6>
				<h6>H 183 x W 183 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img005.jpg' data-toggle="modal" data-target="#myModal5">
			<div class='caption'>
				<h4>Mick Jagger - Fur, 1/50</h4>
				<h6>Black and White Photograph, London, 1964</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img006.jpg' data-toggle="modal" data-target="#myModal6">
			<div class='caption'>
				<h4>Sean Connery, On the Moon - Diamonds Are Forever, 1/50</h4>
				<h6>Black and White Photograph, 1971</h6>
				<h6>H 122 x W 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img007.jpg' data-toggle="modal" data-target="#myModal7">
			<div class='caption'>
				<h4>Monica Vitti on the set of Modesty Blaise</h4>
				<h6>Silver Gelatine Print, Shepperton Studios, 1966</h6>
				<h6>H 152 x 152 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img008.jpg' data-toggle="modal" data-target="#myModal8">
			<div class='caption'>
				<h4>Michael Caine on set of Get Carter, 1/50</h4>
				<h6>Black and White Photograph, London, 1971</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img009.jpg' data-toggle="modal" data-target="#myModal9">
			<div class='caption'>
				<h4>Amy Winehouse, 1/50</h4>
				<h6>Black and White Photograph, London, 2008</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img010.jpg' data-toggle="modal" data-target="#myModal10">
			<div class='caption'>
				<h4>Faye Dunaway 8/50</h4>
				<h6>Silver Gelatin Print, Beverly Hills, 1977</h6>
				<h6>H 151 x 148 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img011.jpg' data-toggle="modal" data-target="#myModal11">
			<div class='caption'>
				<h4>Audrey Hepburn Pool, 7/50</h4>
				<h6>Silver Gelatin Print, St Tropez, 1967</h6>
				<h6>H 51 x W 61 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img012.jpg' data-toggle="modal" data-target="#myModal12">
			<div class='caption'>
				<h4>Marlene Dietrich Last Curtain Call 2/50</h4>
				<h6>Silver Gelatin Print, London, 1975</h6>
				<h6>H 122 x 183 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img013.jpg' data-toggle="modal" data-target="#myModal13">
			<div class='caption'>
				<h4>Brigitte Bardot, 34/50</h4>
				<h6>Black and White Photograph, Spain, 1971</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img014.jpg' data-toggle="modal" data-target="#myModal14">
			<div class='caption'>
				<h4>Audrey Hepburn with Dove, A/P</h4>
				<h6>Silver Gelatin Print, St Tropez, 1967</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img015.jpg' data-toggle="modal" data-target="#myModal15">
			<div class='caption'>
				<h4>Mohammad Ali, 25/50</h4>
				<h6>Silver Gelatin Print, Dublin, 1972</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img016.jpg' data-toggle="modal" data-target="#myModal16">
			<div class='caption'>
				<h4>John Lennon in rehearsal, 40/50</h4>
				<h6>Silver Gelatin Print, London, 1963</h6>
				<h6>H 61 x W 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img017.jpg' data-toggle="modal" data-target="#myModal17">
			<div class='caption'>
				<h4>The Beatles backyard, A/P</h4>
				<h6>Silver Gelatin Print, London, 1963</h6>
				<h6>H 51 x 61 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img018.jpg' data-toggle="modal" data-target="#myModal18">
			<div class='caption'>
				<h4>Brigitte Bardot, 41/50</h4>
				<h6>Silver Gelatin Print, Deauville, 1968</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img019.jpg' data-toggle="modal" data-target="#myModal19">
			<div class='caption'>
				<h4>Sean Connery - As James Bond. On the set of Diamonds Are Forever, 11/50</h4>
				<h6>Silver Gelatin Print, Las Vegas, 1971</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img020.jpg' data-toggle="modal" data-target="#myModal20">
			<div class='caption'>
				<h4>Sean Connery On Sheriff's motorcycle, 5/50</h4>
				<h6>Silver Gelatin Print, Nevada, 1971</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img021.jpg' data-toggle="modal" data-target="#myModal21">
			<div class='caption'>
				<h4>Peter Cook and Dudley Moore, 23/50</h4>
				<h6>Silver Gelatin Print, Beverly Hills, 1975</h6>
				<h6>H 51 x W 61 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img022.jpg' data-toggle="modal" data-target="#myModal22">
			<div class='caption'>
				<h4>Elton at The Dodgers Stadium, 26/50</h4>
				<h6>Silver Gelatin Print, Los Angeles, 1975</h6>
				<h6>H 51 x 61 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img023.jpg' data-toggle="modal" data-target="#myModal23">
			<div class='caption'>
				<h4>Dean Martin, 29/50</h4>
				<h6>Silver Gelatin Print, Las Vegas, 1971</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img024.jpg' data-toggle="modal" data-target="#myModal24">
			<div class='caption'>
				<h4>Rod Stewart</h4>
				<h6>Silver Gelatin Photographic Print, Windsor, 1971</h6>
				<h6>H 122 x 183 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img025.jpg' data-toggle="modal" data-target="#myModal25">
			<div class='caption'>
				<h4>Audrey Hepburn, Edition 50</h4>
				<h6>Silver Gelatin Print, St. Tropez, 1967</h6>
				<h6>H 51 x 61 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img026.jpg' data-toggle="modal" data-target="#myModal26">
			<div class='caption'>
				<h4>Jimmy Page, 1/50</h4>
				<h6>Silver Gelatin Photography, Florida, 1977</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img027.jpg' data-toggle="modal" data-target="#myModal27">
			<div class='caption'>
				<h4>The Rolling Stones First TV Appearance, A/P</h4>
				<h6>Silver Gelatin Print, New York, 1959</h6>
				<h6>H 51 x 61 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Raquel Welch - One Million Years BC, 7/50</h5>
					<h6>Colour Photograph, Los Angeles, 1968</h6>
					<h6>H 183 x W 183 cm</h6>
					<h6>Ref: TO_00007</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Frank Sinatra with his stand-in and bodyguards arriving on location, 49/50</h4>
					<h6>Black and White Photograph, Miami Beach, 1968</h6>
					<h6>H 122 x 183 cm</h6>
					<h6>Ref: TO_00008</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>David Bowie - Working on the Album cover for 'Diamond Dogs', 6/50 </h4>
					<h6>Black and White Photograph, London, 1975</h6>
					<h6>H 183 x W 122 cm</h6>
					<h6>Ref: TO_00003</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Raquel Welch, 1/50</h4>
					<h6>Black and White Photograph, Los Angeles, 1970</h6>
					<h6>H 183 x W 183 cm</h6>
					<h6>Ref: TO_00009</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img005.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mick Jagger - Fur, 1/50</h4>
					<h6>Black and White Photograph, London, 1964</h6>
					<h6>H 183 x 122 cm</h6>
					<h6>Ref: TO_00006</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img006.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery, On the Moon - Diamonds Are Forever, 1/50</h4>
					<h6>Black and White Photograph, 1971</h6>
					<h6>H 122 x W 122 cm</h6>	
					<h6>Ref: TO_00002</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img007.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Monica Vitti on the set of Modesty Blaise</h4>
					<h6>Silver Gelatine Print, Shepperton Studios, 1966</h6>
					<h6>H 152 x 152 cm</h6>
					<h6>Ref: TO_00027</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img008.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Michael Caine on set of Get Carter, 1/50</h4>
					<h6>Black and White Photograph, London, 1971</h6>
					<h6>H 183 x 122 cm</h6>
					<h6>Ref: TO_00005</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img009.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Amy Winehouse, 1/50</h4>
					<h6>Black and White Photograph, London, 2008</h6>
					<h6>H 183 x 122 cm</h6>
					<h6>Ref: TO_00001</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img010.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Faye Dunaway 8/50</h4>
					<h6>Silver Gelatin Print, Beverly Hills, 1977</h6>
					<h6>H 151 x 148 cm</h6>
					<h6>Ref: TO_00028</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img011.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Audrey Hepburn Pool, 7/50</h4>
					<h6>Silver Gelatin Print, St Tropez, 1967</h6>
					<h6>H 51 x W 61 cm</h6>
					<h6>Ref: TO_00023</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img012.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Marlene Dietrich Last Curtain Call 2/50</h4>
					<h6>Silver Gelatin Print, London, 1975</h6>
					<h6>H 122 x 183 cm</h6>
					<h6>Ref: TO_00026</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img013.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Brigitte Bardot, 34/50</h4>
					<h6>Black and White Photograph, Spain, 1971</h6>
					<h6>H 183 x 122 cm</h6>
					<h6>Ref: TO_00004</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img014.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Audrey Hepburn with Dove, A/P</h4>
					<h6>Silver Gelatin Print, St Tropez, 1967</h6>
					<h6>H 61 x 51 cm</h6>
					<h6>Ref: TO_00021</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img015.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mohammad Ali, 25/50</h4>
					<h6>Silver Gelatin Print, Dublin, 1972</h6>
					<h6>H 61 x 51 cm</h6>	
					<h6>Ref: TO_00020</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img016.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>John Lennon in rehearsal, 40/50</h4>
					<h6>Silver Gelatin Print, London, 1963</h6>
					<h6>H 61 x W 51 cm</h6>
					<h6>Ref: TO_00024</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img017.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>The Beatles backyard, A/P</h4>
					<h6>Silver Gelatin Print, London, 1963</h6>
					<h6>H 51 x 61 cm</h6>
					<h6>Ref: TO_00022</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img018.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Brigitte Bardot, 41/50</h4>
					<h6>Silver Gelatin Print, Deauville, 1968</h6>
					<h6>H 61 x 51 cm</h6>
					<h6>Ref: TO_00014</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img019.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Sean Connery - As James Bond. On the set of Diamonds Are Forever, 11/50</h4>
					<h6>Silver Gelatin Print, Las Vegas, 1971</h6>
					<h6>H 61 x 51 cm</h6>
					<h6>Ref: TO_00018</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img020.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery On Sheriff's motorcycle, 5/50</h4>
					<h6>Silver Gelatin Print, Nevada, 1971</h6>
					<h6>H 61 x 51 cm</h6>
					<h6>Ref: TO_00017</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img021.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Peter Cook and Dudley Moore, 23/50</h4>
					<h6>Silver Gelatin Print, Beverly Hills, 1975</h6>
					<h6>H 51 x W 61 cm</h6>
					<h6>Ref: TO_00016</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img022.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Elton at The Dodgers Stadium, 26/50</h4>
					<h6>Silver Gelatin Print, Los Angeles, 1975</h6>
					<h6>H 51 x 61 cm</h6>
					<h6>Ref: TO_00015</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal23" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img023.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Dean Martin, 29/50</h4>
					<h6>Silver Gelatin Print, Las Vegas, 1971</h6>
					<h6>H 61 x 51 cm</h6>
					<h6>Ref: TO_00013</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img024.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Rod Stewart 1/50</h4>
					<h6>Silver Gelatin Photographic Print, Windsor, 1971</h6>
					<h6>H 122 x 183 cm</h6>
					<h6>Ref: TO_00011</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal25" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img025.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Audrey Hepburn, Edition 50</h4>
					<h6>Silver Gelatin Print, St. Tropez, 1967</h6>
					<h6>H 51 x 61 cm</h6>
					<h6>Ref: TO_00012</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal26" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img026.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Jimmy Page, 1/50</h4>
					<h6>Silver Gelatin Photography, Florida, 1977</h6>
					<h6>H 183 x 122 cm</h6>
					<h6>Ref: TO_00010</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal27" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillltded/img027.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>The Rolling Stones First TV Appearance, A/P</h4>
					<h6>Silver Gelatin Print, New York, 1959</h6>
					<h6>H 51 x 61 cm</h6>
					<h6>Ref: TO_00019</h6>
				</div>
			</div>
		</div>
	</div>
</div>

