<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>
				<h4>Sean Connery and Showgirl - On the set of Diamonds Are Forever</h5>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 33 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>
				<h4>Sean Connery napping, waiting to film the notorious fight scene in Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1964</h6>
				<h6>H 35 x 49 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>
				<h4>Sean Connery during lunchbreak on the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49.5 x W 36 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>
				<h4>Honor Blackman (Pussy Galore) / Cubby Broccoli Harry Saltzman</h4>
				<h6>Vintage Photograph, signed on back, 1964</h6>
				<h6>H 49.5 x W 40 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img005.jpg' data-toggle="modal" data-target="#myModal5">
			<div class='caption'>
				<h4>Sean Connery with Urn On the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49 x 33.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img006.jpg' data-toggle="modal" data-target="#myModal6">
			<div class='caption'>
				<h4>Goldie Hawn Filmset Girl In My Soup (with O’Neill reflected)</h4>
				<h6>Vintage Photograph, signed on back, 1970</h6>
				<h6>H 33 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img007.jpg' data-toggle="modal" data-target="#myModal7">
			<div class='caption'>
				<h4>Sammy Davis Junior Original print sourced for Legend’s book</h4>
				<h6>Vintage Photograph, signed on back, 1985</h6>
				<h6>H 33 x 49 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img008.jpg' data-toggle="modal" data-target="#myModal8">
			<div class='caption'>
				<h4>Faye Dunaway The Wicked Lady Filmset</h4>
				<h6>Vintage Photograph, signed on back, 1983</h6>
				<h6>H 50 x 40.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img009.jpg' data-toggle="modal" data-target="#myModal9">
			<div class='caption'>
				<h4>Robert Redford Filmset Three Days of The Condor</h4>
				<h6>Vintage Photograph, signed on back, 1975</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img010.jpg' data-toggle="modal" data-target="#myModal10">
			<div class='caption'>
				<h4>Sarah Miles Filmset Lady Caroline Lamb</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img011.jpg' data-toggle="modal" data-target="#myModal11">
			<div class='caption'>
				<h4>Raquel Welch / Farah Fawcett Filmset Myra Breckinridge</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 39 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img012.jpg' data-toggle="modal" data-target="#myModal12">
			<div class='caption'>
				<h4>Natalie Wood - Vogue fashion shoot</h4>
				<h6>Vintage Photograph, signed on back, 1967</h6>
				<h6>H 50.5 x 41 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img013.jpg' data-toggle="modal" data-target="#myModal13">
			<div class='caption'>
				<h4>Robert Redford Cover shoot A Bridge Too Far</h4>
				<h6>Vintage Photograph, signed on back, 1977</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img014.jpg' data-toggle="modal" data-target="#myModal14">
			<div class='caption'>
				<h4>Roger Daltry At home</h4>
				<h6>Vintage Photograph, signed on back, 1969</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img015.jpg' data-toggle="modal" data-target="#myModal15">
			<div class='caption'>
				<h4>Paul Newman / Clint Eastwood - Legends book cover</h4>
				<h6>Vintage Photograph, signed on back, 1985</h6>
				<h6>H 30.5 x 24 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img016.jpg' data-toggle="modal" data-target="#myModal16">
			<div class='caption'>
				<h4>The Beatles arriving at Heathrow Airport</h4>
				<h6>Vintage Photograph, signed on back, 1964</h6>
				<h6>H 2.5 x W 30 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img017.jpg' data-toggle="modal" data-target="#myModal17">
			<div class='caption'>
				<h4>Clint Eastwood - On the set of Joe Kidd</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 33 x 49 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img018.jpg' data-toggle="modal" data-target="#myModal18">
			<div class='caption'>
				<h4>Minder / Adam Faith</h4>
				<h6>Vintage Photograph, signed on back, 1982</h6>
				<h6>H 50.5 x 40.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img019.jpg' data-toggle="modal" data-target="#myModal19">
			<div class='caption'>
				<h4>Raquel Welch - On the set of - The Beloved</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img020.jpg' data-toggle="modal" data-target="#myModal20">
			<div class='caption'>
				<h4>Henry Cooper / Oliver Reed - On the set of Royal Flash</h4>
				<h6>Vintage Photograph, signed on back , 1975</h6>
				<h6>H 51 x 39.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img021.jpg' data-toggle="modal" data-target="#myModal21">
			<div class='caption'>
				<h4>Stevie Wonder visiting a school for the blind</h4>
				<h6>Vintage Photograph, signed on back, 1963</h6>
				<h6>H 33 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img022.jpg' data-toggle="modal" data-target="#myModal22">
			<div class='caption'>
				<h4>Lord Snowden / Peter Sellers - Sellers' House in Beverley Hills</h4>
				<h6>Vintage Photograph, signed on back, 1974</h6>
				<h6>H 41 x 50 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img023.jpg' data-toggle="modal" data-target="#myModal23">
			<div class='caption'>
				<h4>Brigitte Bardot - On the set of Les Novices</h4>
				<h6>Vintage Photograph, signed on back, 1970</h6>
				<h6>H 34 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img024.jpg' data-toggle="modal" data-target="#myModal24">
			<div class='caption'>
				<h4>Ava Gardner - The Life and Times of Judge Roy Bean</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img025.jpg' data-toggle="modal" data-target="#myModal25">
			<div class='caption'>
				<h4>Raquel Welch - Peter Osgood's Chelsea Strip</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 40.5 x 30.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img026.jpg' data-toggle="modal" data-target="#myModal26">
			<div class='caption'>
				<h4>Elvis - On stage at the InterContinental</h4>
				<h6>Vintage Photograph, signed on back, 1969</h6>
				<h6>H 33 x 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img027.jpg' data-toggle="modal" data-target="#myModal27">
			<div class='caption'>
				<h4>Elton John - In bed at home</h4>
				<h6>Vintage Photograph, signed on back, 1979</h6>
				<h6>H 51 x 61 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img028.jpg' data-toggle="modal" data-target="#myModal28">
			<div class='caption'>
				<h4>John Wayne - On the set of Brannigan</h4>
				<h6>Vintage Photograph, signed on back, 1975</h6>
				<h6>H 51 x 34 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img029.jpg' data-toggle="modal" data-target="#myModal29">
			<div class='caption'>
				<h4>Paul and Linda McCartney - Rehearsal for Wings tour London</h4>
				<h6>Vintage Photograph, signed on back, 1973</h6>
				<h6>H 51 x 34.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img030.jpg' data-toggle="modal" data-target="#myModal30">
			<div class='caption'>
				<h4>Frank Sinatra - In rehearsal</h4>
				<h6>Vintage Photograph, signed on back, 1986</h6>
				<h6>H 51 x 34.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img031.jpg' data-toggle="modal" data-target="#myModal31">
			<div class='caption'>
				<h4>Elizabeth Taylor / David Bowie</h4>
				<h6>Vintage Photograph, signed on back, 1974</h6>
				<h6>H 41 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img032.jpg' data-toggle="modal" data-target="#myModal32">
			<div class='caption'>
				<h4>Muhammad Ali and his Mum</h4>
				<h6>Vintage Photograph, signed on back, 1974</h6>
				<h6>H 51 x 40 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img033.jpg' data-toggle="modal" data-target="#myModal33">
			<div class='caption'>
				<h4>Elton John, Billie Jean King & Cary Grant, Dodgers Stadium, LA</h4>
				<h6>Vintage Photograph, signed on back, 1975</h6>
				<h6>H 51 x 35 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img034.jpg' data-toggle="modal" data-target="#myModal34">
			<div class='caption'>
				<h4>Sean Connery - As James Bond - On the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 50 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img035.jpg' data-toggle="modal" data-target="#myModal35">
			<div class='caption'>
				<h4>Sean Connery - On the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49 x 36 cm</h6>
			</div>
		</div>
	</div>
</div><div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img036.jpg' data-toggle="modal" data-target="#myModal36">
			<div class='caption'>
				<h4>Steve McQueen - In his office</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 51 x 39 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img037.jpg' data-toggle="modal" data-target="#myModal37">
			<div class='caption'>
				<h4>Dustin Hoffman - At home</h4>
				<h6>Vintage Photograph, signed on back, 1969</h6>
				<h6>H 50 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img038.jpg' data-toggle="modal" data-target="#myModal38">
			<div class='caption'>
				<h4>Frank Sinatra - Arriving at Luton Aiport</h4>
				<h6>Vintage Photograph, signed on back, 1986</h6>
				<h6>H 50 x 36 cm</h6>
			</div>
		</div>
	</div>
</div><div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img039.jpg' data-toggle="modal" data-target="#myModal39">
			<div class='caption'>
				<h4>Brigitte Bardot - On the set of Les Novices</h4>
				<h6>Vintage Photograph, signed on back, 1970</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img040.jpg' data-toggle="modal" data-target="#myModal40">
			<div class='caption'>
				<h4>Audrey Hepburn - On Set of How To Steal A Million</h4>
				<h6>Vintage Photograph, signed on back  , 1966</h6>
				<h6>H 50 x 41 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img041.jpg' data-toggle="modal" data-target="#myModal41">
			<div class='caption'>
				<h4>Raquel Welch - Riding Gear</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 47 x 32.5 cm</h6>
			</div>
		</div>
	</div>
</div><div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img042.jpg' data-toggle="modal" data-target="#myModal42">
			<div class='caption'>
				<h4>Sir Laurence Olivier - On the set of Khartoum</h4>
				<h6>Vintage Photograph, signed on back, 1966</h6>
				<h6>H 50 x 40.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img043.jpg' data-toggle="modal" data-target="#myModal43">
			<div class='caption'>
				<h4>Paul Newman / Jacqueline Bisset - On the set of The Life and Times of Judge Roy Bean</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 49.5 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img044.jpg' data-toggle="modal" data-target="#myModal44">
			<div class='caption'>
				<h4>Raquel Welch - Nun</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 50 x 33 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Sean Connery and Showgirl - On the set of Diamonds Are Forever</h5>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 33 x W 49 cm</h6>
					<h6>Ref: TO_44</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery napping, waiting to film the notorious fight scene in Diamonds Are Forever</h4>
					<h6>Vintage Photograph, signed on back, 1964</h6>
					<h6>H 35 x 49 cm</h6>
					<h6>Ref: TO_41</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery during lunchbreak on the set of Diamonds Are Forever</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 49.5 x W 36 cm</h6>
					<h6>Ref: TO_43</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Honor Blackman (Pussy Galore) / Cubby Broccoli Harry Saltzman</h4>
					<h6>Vintage Photograph, signed on back, 1964</h6>
					<h6>H 49.5 x W 40 cm</h6>
					<h6>Ref: TO_42</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img005.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery with Urn On the set of Diamonds Are Forever</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 49 x 33.5 cm</h6>
					<h6>Ref: TO_40</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img006.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Goldie Hawn Filmset Girl In My Soup (with O’Neill reflected)</h4>
					<h6>Vintage Photograph, signed on back, 1970</h6>
					<h6>H 33 x W 49 cm</h6>
					<h6>Ref: TO_39</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img007.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sammy Davis Junior Original print sourced for Legend’s book</h4>
					<h6>Vintage Photograph, signed on back, 1985</h6>
					<h6>H 33 x 49 cm</h6>
					<h6>Ref: TO_38</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img008.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Faye Dunaway The Wicked Lady Filmset</h4>
					<h6>Vintage Photograph, signed on back, 1983</h6>
					<h6>H 50 x 40.5 cm</h6>
					<h6>Ref: TO_37</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img009.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Robert Redford Filmset Three Days of The Condor</h4>
					<h6>Vintage Photograph, signed on back, 1975</h6>
					<h6>H 49 x 33 cm</h6>
					<h6>Ref: TO_35</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img010.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Sarah Miles Filmset Lady Caroline Lamb</h4>
					<h6>Vintage Photograph, signed on back, 1972</h6>
					<h6>H 49 x 33 cm</h6>
					<h6>Ref: TO_34</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img011.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Raquel Welch / Farah Fawcett Filmset Myra Breckinridge</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 39 x W 49 cm</h6>
					<h6>Ref: TO_36</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img012.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Natalie Wood - Vogue fashion shoot</h4>
					<h6>Vintage Photograph, signed on back, 1967</h6>
					<h6>H 50.5 x 41 cm</h6>
					<h6>Ref: TO_29</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img013.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Robert Redford Cover shoot A Bridge Too Far</h4>
					<h6>Vintage Photograph, signed on back, 1977</h6>
					<h6>H 49 x 33 cm</h6>
					<h6>Ref: TO_33</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img014.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Roger Daltry At home</h4>
					<h6>Vintage Photograph, signed on back, 1969</h6>
					<h6>H 49 x 33 cm</h6>
					<h6>Ref: TO_32</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img015.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Paul Newman / Clint Eastwood - Legends book cover</h4>
					<h6>Vintage Photograph, signed on back, 1985</h6>
					<h6>H 30.5 x 24 cm</h6>	
					<h6>Ref: TO_31</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img016.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>The Beatles arriving at Heathrow Airport</h4>
					<h6>Vintage Photograph, signed on back, 1964</h6>
					<h6>H 2.5 x W 30 cm</h6>
					<h6>Ref: TO_28</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img017.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Clint Eastwood - On the set of Joe Kidd</h4>
					<h6>Vintage Photograph, signed on back, 1972</h6>
					<h6>H 33 x 49 cm</h6>
					<h6>Ref: TO_27</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img018.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Minder / Adam Faith</h4>
					<h6>Vintage Photograph, signed on back, 1982</h6>
					<h6>H 50.5 x 40.5 cm</h6>
					<h6>Ref: TO_30</h6>
				</div>
			</div>
		</div>
	</div>
</div><div class="modal fade" id="myModal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img019.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Raquel Welch - On the set of The Beloved</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 49 x 33 cm</h6>
					<h6>Ref: TO_26</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img020.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Henry Cooper / Oliver Reed - On the set of Royal Flash</h4>
					<h6>Vintage Photograph, signed on back , 1975</h6>
					<h6>H 51 x 39.5 cm</h6>
					<h6>Ref: TO_21</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img021.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Stevie Wonder visiting a school for the blind</h4>
					<h6>Vintage Photograph, signed on back, 1963</h6>
					<h6>H 33 x W 49 cm</h6>
					<h6>Ref: TO_001</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img022.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Lord Snowden / Peter Sellers - Sellers' House in Beverley Hills</h4>
					<h6>Vintage Photograph, signed on back, 1974</h6>
					<h6>H 41 x 50 cm</h6>
					<h6>Ref: TO_13</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal23" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img023.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Brigitte Bardot - On the set of Les Novices</h4>
					<h6>Vintage Photograph, signed on back, 1970</h6>
					<h6>H 34 x 51 cm</h6>
					<h6>Ref: TO_14</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img024.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Ava Gardner - The Life and Times of Judge Roy Bean</h4>
					<h6>Vintage Photograph, signed on back, 1972</h6>
					<h6>H 49 x 33 cm</h6>
					<h6>Ref: TO_25</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal25" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img025.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Raquel Welch - Peter Osgood's Chelsea Strip</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 40.5 x 30.5 cm</h6>
					<h6>Ref: TO_23</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal26" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img026.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Elvis - On stage at the InterContinental</h4>
					<h6>Vintage Photograph, signed on back, 1969</h6>
					<h6>H 33 x 49 cm</h6>
					<h6>Ref: TO_06</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal27" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img027.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Elton John - In bed at home</h4>
					<h6>Vintage Photograph, signed on back, 1979</h6>
					<h6>H 51 x 61 cm</h6>
					<h6>Ref: TO_05</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal28" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img028.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>John Wayne - On the set of Brannigan</h4>
					<h6>Vintage Photograph, signed on back, 1975</h6>
					<h6>H 51 x 34 cm</h6>
					<h6>Ref: TO_24</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal29" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img0029.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Paul and Linda McCartney - Rehearsal for Wings tour London</h4>
					<h6>Vintage Photograph, signed on back, 1973</h6>
					<h6>H 51 x 34.5 cm</h6>
					<h6>Ref: TO_18</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal30" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img030.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Frank Sinatra - In rehearsal</h4>
					<h6>Vintage Photograph, signed on back, 1986</h6>
					<h6>H 51 x 34.5 cm</h6>
					<h6>Ref: TO_16</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal31" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img031.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Elizabeth Taylor / David Bowie</h4>
					<h6>Vintage Photograph, signed on back, 1974</h6>
					<h6>H 41 x 51 cm</h6>
					<h6>Ref: TO_03</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal32" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img032.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Muhammad Ali and his Mum</h4>
					<h6>Vintage Photograph, signed on back, 1974</h6>
					<h6>H 51 x 40 cm</h6>
					<h6>Ref: TO_01</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal33" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img033.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Elton John, Billie Jean King & Cary Grant, Dodgers Stadium, LA</h4>
					<h6>Vintage Photograph, signed on back, 1975</h6>
					<h6>H 51 x 35 cm</h6>
					<h6>Ref: TO_22</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal34" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img034.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery - As James Bond - On the set of Diamonds Are Forever</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 50 x 33 cm</h6>
					<h6>Ref: TO_11</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal35" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img035.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sean Connery - On the set of Diamonds Are Forever</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 49 x 36 cm</h6>
					<h6>Ref: TO_10</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal36" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img036.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Steve McQueen - In his office</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 51 x 39 cm</h6>
					<h6>Ref: TO_09</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal37" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img037.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Dustin Hoffman - At home</h4>
					<h6>Vintage Photograph, signed on back, 1969</h6>
					<h6>H 50 x 33 cm</h6>	
					<h6>Ref: TO_08</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal38" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img038.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Frank Sinatra - Arriving at Luton Aiport</h4>
					<h6>Vintage Photograph, signed on back, 1986</h6>
					<h6>H 50 x 36 cm</h6>
					<h6>Ref: TO_07</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal39" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img039.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Brigitte Bardot - On the set of Les Novices</h4>
					<h6>Vintage Photograph, signed on back, 1970</h6>
					<h6>H 61 x 51 cm</h6>
					<h6>Ref: TO_04</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal40" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img040.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Audrey Hepburn - On Set of How To Steal A Million</h4>
					<h6>Vintage Photograph, signed on back  , 1966</h6>
					<h6>H 50 x 41 cm</h6>
					<h6>Ref: TO_02</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal41" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img041.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Raquel Welch - Riding Gear</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 47 x 32.5 cm</h6>
					<h6>Ref: TO_20</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal42" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img042.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Sir Laurence Olivier - On the set of Khartoum</h4>
					<h6>Vintage Photograph, signed on back, 1966</h6>
					<h6>H 50 x 40.5 cm</h6>	
					<h6>Ref: TO_19</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal43" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img043.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Paul Newman / Jacqueline Bisset - On the set of The Life and Times of Judge Roy Bean</h4>
					<h6>Vintage Photograph, signed on back, 1972</h6>
					<h6>H 49.5 x 33 cm</h6>
					<h6>Ref: TO_15</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal44" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/terryoneillvintage/img044.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Raquel Welch - Nun</h4>
					<h6>Vintage Photograph, signed on back, 1971</h6>
					<h6>H 50 x 33 cm</h6>
					<h6>Ref: TO_17</h6>
				</div>
			</div>
		</div>
	</div>
</div>