<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img001.jpg'>
			<div class='caption'>
				<h4>Raquel Welch, 1/50</h5>
				<h6>Black and White Photograph, Los Angeles, 1970</h6>
				<h6>H 183 x W 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img002.jpg'>
			<div class='caption'>
				<h4>Mick Jagger - Fur, 1/50</h4>
				<h6>Black and White Photograph, London, 1964</h6>
				<h6>H 183 x W 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img003.jpg'>
			<div class='caption'>
				<h4>David Bowie - Working on the Album cover for 'Diamond Dogs', 6/50 </h4>
				<h6>Black and White Photograph, London, 1975</h6>
				<h6>H 183 x W 122 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img004.jpg'>
			<div class='caption'>
				<h4>Raquel Welch - One Million Years BC, 7/50</h4>
				<h6>Black and White Photograph, Los Angeles, 1968</h6>
				<h6>H 183 x W 183 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img005.jpg'>
			<div class='caption'>
				<h4>Frank Sinatra with his stand-in and bodyguards arriving on location, 49/50</h4>
				<h6>Black and White Photograph, Miami Beach, 1968</h6>
				<h6>H 122 x 183 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img006.jpg'>
			<div class='caption'>
				<h4>Brigitte Bardot, 34/50</h4>
				<h6>Black and White Photograph, Spain, 1971</h6>
				<h6>H 183 x W 122 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillltded/img007.jpg'>
			<div class='caption'>
				<h4>Michael Caine on the set of Get Carter, 1/50</h4>
				<h6>Black and White Photograph, London, 1971</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>	
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img009.jpg'>
			<div class='caption'>
				<h4>Amy Winehouse, 1/50</h4>
				<h6>Black and White Photograph, London, 1968</h6>
				<h6>H 183 x 122 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillltded/img008.jpg'>
			<div class='caption'>
				<h4>Sean Connery - Diamonds Are Forever, 1/50</h4>
				<h6>Black and White Photograph, 1971</h6>
				<h6>H 122 x 122 cm</h6>
			</div>
		</div>
	</div>
</div>