<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img001.jpg'>
			<div class='caption'>
				<h4>Sean Connery and Showgirl - On the set of Diamonds Are Forever</h5>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 33 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img002.jpg'>
			<div class='caption'>
				<h4>Sean Connery napping, waiting to film the notorious fight scene in Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1964</h6>
				<h6>H 35 x 49 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img003.jpg'>
			<div class='caption'>
				<h4>Sean Connery during lunchbreak on the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49.5 x W 36 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img004.jpg'>
			<div class='caption'>
				<h4>Honor Blackman (Pussy Galore) / Cubby Broccoli Harry Saltzman</h4>
				<h6>Vintage Photograph, signed on back, 1964</h6>
				<h6>H 49.5 x W 40 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img005.jpg'>
			<div class='caption'>
				<h4>Sean Connery with Urn On the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49 x 33.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img006.jpg'>
			<div class='caption'>
				<h4>Goldie Hawn Filmset Girl In My Soup (with O’Neill reflected)</h4>
				<h6>Vintage Photograph, signed on back, 1970</h6>
				<h6>H 33 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img007.jpg'>
			<div class='caption'>
				<h4>Sammy Davis Junior Original print sourced for Legend’s book</h4>
				<h6>Vintage Photograph, signed on back, 1985</h6>
				<h6>H 33 x 49 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img008.jpg'>
			<div class='caption'>
				<h4>Faye Dunaway The Wicked Lady Filmset</h4>
				<h6>Vintage Photograph, signed on back, 1983</h6>
				<h6>H 50 x 40.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img009.jpg'>
			<div class='caption'>
				<h4>Robert Redford Filmset Three Days of The Condor</h4>
				<h6>Vintage Photograph, signed on back, 1975</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img010.jpg'>
			<div class='caption'>
				<h4>Sarah Miles Filmset Lady Caroline Lamb</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img011.jpg'>
			<div class='caption'>
				<h4>Raquel Welch / Farah Fawcett Filmset Myra Breckinridge</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 39 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img012.jpg'>
			<div class='caption'>
				<h4>Natalie Wood - Vogue fashion shoot</h4>
				<h6>Vintage Photograph, signed on back, 1967</h6>
				<h6>H 50.5 x 41 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img013.jpg'>
			<div class='caption'>
				<h4>Robert Redford Cover shoot A Bridge Too Far</h4>
				<h6>Vintage Photograph, signed on back, 1977</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img014.jpg'>
			<div class='caption'>
				<h4>Roger Daltry At home</h4>
				<h6>Vintage Photograph, signed on back, 1969</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img015.jpg'>
			<div class='caption'>
				<h4>Paul Newman / Clint Eastwood - Legends book cover</h4>
				<h6>Vintage Photograph, signed on back, 1985</h6>
				<h6>H 30.5 x 24 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img016.jpg'>
			<div class='caption'>
				<h4>The Beatles arriving at Heathrow Airport</h4>
				<h6>Vintage Photograph, signed on back, 1964</h6>
				<h6>H 2.5 x W 30 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img017.jpg'>
			<div class='caption'>
				<h4>Clint Eastwood - On the set of Joe Kidd</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 33 x 49 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img018.jpg'>
			<div class='caption'>
				<h4>Minder / Adam Faith</h4>
				<h6>Vintage Photograph, signed on back, 1982</h6>
				<h6>H 50.5 x 40.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img019.jpg'>
			<div class='caption'>
				<h4>Raquel Welch - On the set of - The Beloved</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img020.jpg'>
			<div class='caption'>
				<h4>Henry Cooper / Oliver Reed - On the set of Royal Flash</h4>
				<h6>Vintage Photograph, signed on back , 1975</h6>
				<h6>H 51 x 39.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img021.jpg'>
			<div class='caption'>
				<h4>Stevie Wonder visiting a school for the blind</h4>
				<h6>Vintage Photograph, signed on back, 1963</h6>
				<h6>H 33 x W 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img022.jpg'>
			<div class='caption'>
				<h4>Lord Snowden / Peter Sellers - Sellers' House in Beverley Hills</h4>
				<h6>Vintage Photograph, signed on back, 1974</h6>
				<h6>H 41 x 50 cm</h6>
			</div>
		</div>	
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img023.jpg'>
			<div class='caption'>
				<h4>Brigitte Bardot - On the set of Les Novices</h4>
				<h6>Vintage Photograph, signed on back, 1970</h6>
				<h6>H 34 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img024.jpg'>
			<div class='caption'>
				<h4>Ava Gardner - The Life and Times of Judge Roy Bean</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 49 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img025.jpg'>
			<div class='caption'>
				<h4>Raquel Welch - Peter Osgood's Chelsea Strip</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 40.5 x 30.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img026.jpg'>
			<div class='caption'>
				<h4>Elvis - On stage at the InterContinental</h4>
				<h6>Vintage Photograph, signed on back, 1969</h6>
				<h6>H 33 x 49 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img027.jpg'>
			<div class='caption'>
				<h4>Elton John - In bed at home</h4>
				<h6>Vintage Photograph, signed on back, 1979</h6>
				<h6>H 51 x 61 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img028.jpg'>
			<div class='caption'>
				<h4>John Wayne - On the set of Brannigan</h4>
				<h6>Vintage Photograph, signed on back, 1975</h6>
				<h6>H 51 x 34 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img029.jpg'>
			<div class='caption'>
				<h4>Paul and Linda McCartney - Rehearsal for Wings tour London</h4>
				<h6>Vintage Photograph, signed on back, 1973</h6>
				<h6>H 51 x 34.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img030.jpg'>
			<div class='caption'>
				<h4>Frank Sinatra - In rehearsal</h4>
				<h6>Vintage Photograph, signed on back, 1986</h6>
				<h6>H 51 x 34.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img031.jpg'>
			<div class='caption'>
				<h4>Elizabeth Taylor / David Bowie</h4>
				<h6>Vintage Photograph, signed on back, 1974</h6>
				<h6>H 41 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img032.jpg'>
			<div class='caption'>
				<h4>Muhammad Ali and his Mum</h4>
				<h6>Vintage Photograph, signed on back, 1974</h6>
				<h6>H 51 x 40 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img033.jpg'>
			<div class='caption'>
				<h4>Elton John, Billie Jean King & Cary Grant, Dodgers Stadium, LA</h4>
				<h6>Vintage Photograph, signed on back, 1975</h6>
				<h6>H 51 x 35 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img034.jpg'>
			<div class='caption'>
				<h4>Sean Connery - As James Bond - On the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 50 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img035.jpg'>
			<div class='caption'>
				<h4>Sean Connery - On the set of Diamonds Are Forever</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 49 x 36 cm</h6>
			</div>
		</div>
	</div>
</div><div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img036.jpg'>
			<div class='caption'>
				<h4>Steve McQueen - In his office</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 51 x 39 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img037.jpg'>
			<div class='caption'>
				<h4>Dustin Hoffman - At home</h4>
				<h6>Vintage Photograph, signed on back, 1969</h6>
				<h6>H 50 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img038.jpg'>
			<div class='caption'>
				<h4>Frank Sinatra - Arriving at Luton Aiport</h4>
				<h6>Vintage Photograph, signed on back, 1986</h6>
				<h6>H 50 x 36 cm</h6>
			</div>
		</div>
	</div>
</div><div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img039.jpg'>
			<div class='caption'>
				<h4>Brigitte Bardot - On the set of Les Novices</h4>
				<h6>Vintage Photograph, signed on back, 1970</h6>
				<h6>H 61 x 51 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img040.jpg'>
			<div class='caption'>
				<h4>Audrey Hepburn - On Set of How To Steal A Million</h4>
				<h6>Vintage Photograph, signed on back  , 1966</h6>
				<h6>H 50 x 41 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img041.jpg'>
			<div class='caption'>
				<h4>Raquel Welch - Riding Gear</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 47 x 32.5 cm</h6>
			</div>
		</div>
	</div>
</div><div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img042.jpg'>
			<div class='caption'>
				<h4>Sir Laurence Olivier - On the set of Khartoum</h4>
				<h6>Vintage Photograph, signed on back, 1966</h6>
				<h6>H 50 x 40.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/terryoneillvintage/img043.jpg'>
			<div class='caption'>
				<h4>Paul Newman / Jacqueline Bisset - On the set of The Life and Times of Judge Roy Bean</h4>
				<h6>Vintage Photograph, signed on back, 1972</h6>
				<h6>H 49.5 x 33 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
		<img src='img/terryoneillvintage/img044.jpg'>
			<div class='caption'>
				<h4>Raquel Welch - Nun</h4>
				<h6>Vintage Photograph, signed on back, 1971</h6>
				<h6>H 50 x 33 cm</h6>
			</div>
		</div>
	</div>
</div>