<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img001.jpg'>
			<div class='caption'>	
				<h4>The Shadow Diamond Dust</h4>
				<h6>USA, 1981</h6>
				<h6>H 96 x W 96 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img002.jpg'>
			<div class='caption'>	
				<h4>The Star</h4>
				<h6>USA, 1981</h6>
				<h6>H 96.5 x W 96.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img003.jpg'>
			<div class='caption'>	
				<h4>Albert Einstein</h4>
				<h6>USA, 1980</h6>
				<h6>H 102 x W 81 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img004.jpg'>
			<div class='caption'>	
				<h4>After the Party</h4>
				<h6>USA, 1980</h6>
				<h6>H 55 x W 78 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img005.jpg'>
			<div class='caption'>	
				<h4>Mother and Child Screenprint (I)</h4>
				<h6>USA, 1986</h6>
				<h6>H 91.5 x 91.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<!-- <div class='row'>
	<div class='col-md-4'>
		<img src='img/andywarhol/img004.jpg'>
		<h4>After the Party</h4>
		<h6>USA, 1980</h6>
		<h6>H 55 x W 78 cm</h6>
	</div>
	<div class='col-md-4'>
		<img src='img/andywarhol/img005.jpg'>
		<h4>Mother and Child Screenprint (I)</h4>
		<h6>USA, 1986</h6>
		<h6>H 91.5 x 91.5 cm</h6>
	</div>
</div> -->
