<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>	
				<h4>The Shadow Diamond Dust</h4>
				<h6>USA, 1981</h6>
				<h6>H 96 x W 96 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>	
				<h4>The Star</h4>
				<h6>USA, 1981</h6>
				<h6>H 96.5 x W 96.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>	
				<h4>Albert Einstein</h4>
				<h6>USA, 1980</h6>
				<h6>H 102 x W 81 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>	
				<h4>After the Party</h4>
				<h6>USA, 1980</h6>
				<h6>H 55 x W 78 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img005.jpg' data-toggle="modal" data-target="#myModal5">
			<div class='caption'>	
				<h4>Mother and Child Screenprint (I)</h4>
				<h6>USA, 1986</h6>
				<h6>H 91.5 x 91.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/andywarhol/img006.jpg' data-toggle='modal' data-target='#myModal6'>
			<div class='caption'>
				<h4>Apple Macintosh 22/190</h4>
				<h6>Printer: Rupert Jasen Smith, New York, 1985</h6>
				<h6>H 96.5 x W 96.5 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/andywarhol/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>The Shadow Diamond Dust</h4>
					<h6>USA, 1981</h6>
					<h6>H 96 x W 96 cm</h6>
					<h6>Ref: 2166</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/andywarhol/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>The Star</h4>
					<h6>USA, 1981</h6>
					<h6>H 96.5 x W 96.5 cm</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/andywarhol/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Albert Einstein</h4>
					<h6>USA, 1980</h6>
					<h6>H 102 x W 81 cm</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/andywarhol/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>After the Party</h4>
					<h6>USA, 1980</h6>
					<h6>H 55 x W 78 cm</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/andywarhol/img005.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mother and Child Screenprint (I)</h4>
					<h6>USA, 1986</h6>
					<h6>H 91.5 x 91.5 cm</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/andywarhol/img006.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Apple Macintosh 22/190</h4>
					<h6>Printer: Rupert Jasen Smith, New York, 1985</h6>
					<h6>H 96.5 x W 96.5 cm</h6>
					<h6>Ref: AW_01</h6>
				</div>
			</div>
		</div>
	</div>
</div>