<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img001.jpg'>
			<div class='caption'>	
				<h4>Battersea Power Station Shoot</h4>
				<h6>UK, 1976</h6>
				<h6>H 101.6 x W 152.4 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img002.jpg'>
			<div class='caption'>	
				<h4>Pink Floyd - Animals - Pig with Chimney</h4>
				<h6>UK, 1976</h6>
				<h6>H 101.6 x W 152.4 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img003.jpg'>
			<div class='caption'>	
				<h4>Pink Floyd - Animals - Pig with Chimney</h4>
				<h6>UK, 1976</h6>
				<h6>H x W cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img004.jpg'>
			<div class='caption'>	
				<h4>Mick Jagger - Far Away Eyes</h4>
				<h6>1976</h6>
				<h6>H x W cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img005.jpg'>
			<div class='caption'>	
				<h4>Helen Mirren - Mustang</h4>
				<h6>H x W cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img006.jpg'>
			<div class='caption'>
				<h4>Mick Jagger - Malibu Sunset</h4>
				<h6>UK, 1976</h6>
				<h6>H 38 x W 58.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img007.jpg'>
			<div class='caption'>	
				<h4>Pink Floyd - Animals - Fine Art Contact Sheet</h4>
				<h6>UK, 1976</h6>
				<h6>H 24 x 24 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img008.jpg'>
			<div class='caption'>
				<h4>Rod Stewart's Football Match</h4>
				<h6>UK, 1976</h6>
				<h6>H 40 x W 60 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img009.jpg'>
			<div class='caption'>	
				<h4>Mick Jagger - Diamond Smile</h4>
				<h6>UK, 1976</h6>
				<h6>H 30 x 40 cm</h6>
			</div>
		</div>
	</div>
</div>