<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>	
				<h4>Battersea Power Station Shoot</h4>
				<h6>UK, 1976</h6>
				<h6>H 101.6 x W 152.4 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>	
				<h4>Pink Floyd - Animals - Pig with Chimney</h4>
				<h6>UK, 1976</h6>
				<h6>H 101.6 x W 152.4 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>	
				<h4>Pink Floyd - Animals - Pig with Chimney</h4>
				<h6>UK, 1976</h6>
				<h6>H 101 x W 152 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>	
				<h4>Mick Jagger - Far Away Eyes</h4>
				<h6>1976</h6>
				<h6>H x W cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img005.jpg' data-toggle="modal" data-target="#myModal5">
			<div class='caption'>	
				<h4>Helen Mirren - Mustang</h4>
				<h6>H x W cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img006.jpg' data-toggle="modal" data-target="#myModal6">
			<div class='caption'>
				<h4>Mick Jagger - Malibu Sunset</h4>
				<h6>UK, 1976</h6>
				<h6>H 38 x W 58.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img007.jpg' data-toggle="modal" data-target="#myModal7">
			<div class='caption'>	
				<h4>Pink Floyd - Animals - Fine Art Contact Sheet</h4>
				<h6>UK, 1976</h6>
				<h6>H 24 x 24 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img008.jpg' data-toggle="modal" data-target="#myModal8">
			<div class='caption'>
				<h4>Rod Stewart's Football Match</h4>
				<h6>UK, 1976</h6>
				<h6>H 40 x W 60 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/carinthiawest/img009.jpg' data-toggle="modal" data-target="#myModal9">
			<div class='caption'>	
				<h4>Mick Jagger - Diamond Smile</h4>
				<h6>UK, 1976</h6>
				<h6>H 30 x 40 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Battersea Power Station Shoot</h4>
					<h6>UK, 1976</h6>
					<h6>H 101.6 x W 152.4 cm</h6>
					<h6>Ref: CWest20</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Pink Floyd - Animals - Pig with Chimney</h4>
					<h6>UK, 1976</h6>
					<h6>H 101.6 x W 152.4 cm</h6>
					<h6>Ref: CWest19</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Pink Floyd - Animals - Pig with Chimney</h4>
					<h6>UK, 1976</h6>
					<h6>H 101 x W 152 cm</h6>
					<h6>Ref: CWest10</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mick Jagger - Far Away Eyes</h4>
					<h6>1976</h6>
					<h6>H x W cm</h6>
					<h6>Ref: CWest18</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img005.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Helen Mirren - Mustang</h4>
					<h6>H x W cm</h6>
					<h6>Ref: CWest16</h6>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img006.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mick Jagger - Malibu Sunset</h4>
					<h6>UK, 1976</h6>
					<h6>H 38 x W 58.5 cm</h6>	
					<h6>Ref: CWest11</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img007.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Pink Floyd - Animals - Fine Art Contact Sheet</h4>
					<h6>UK, 1976</h6>
					<h6>H 24 x 24 cm</h6>
					<h6>Ref: CWest06</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img008.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Rod Stewart's Football Match</h4>
					<h6>UK, 1976</h6>
					<h6>H 40 x W 60 cm</h6>
					<h6>Ref: CWest04</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/carinthiawest/img009.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mick Jagger - Diamond Smile</h4>
					<h6>UK, 1976</h6>
					<h6>H 30 x 40 cm</h6>
					<h6>Ref: CWest02</h6>
				</div>
			</div>
		</div>
	</div>
</div>