<div class='row'>
	<div class='span4'>
		<img src='img/timwoolcock/img001.jpg'>
		<h4>Homage</h4>
		<h6>Oil on Board, 2013</h6>
		<h6>H 58 x W 48 cm</h6>
	</div>
	<div class='span4'>
		<img src='img/timwoolcock/img002.jpg'>
		<h4>Urban Network</h4>
		<h6>Oil on Board, 2013</h6>
		<h6>H 68 x W 87.5 cm</h6> 
	</div>
	<div class='span4'>
		<img src='img/timwoolcock/img003.jpg'>
		<h4>Wicklow Farm</h4>
		<h6>Oil on Paper, 2013</h6>
		<h6>h 58 x W 77.5 cm</h6>
	</div>
</div>
<div class='row'>
	<div class='span4'>
		<img src='img/timwoolcock/img004.jpg'>
		<h4>The Geometry of Evening</h4>
		<h6>Oil on Paper, 2013</h6>
		<h6>H 57 x W 77 cm </h6>
	</div>
	<div class='span4'>
		<img src='img/timwoolcock/img005.jpg'>
		<h4>Cohesion</h4>
		<h6>Oil on Board, 2012</h6>
		<h6>H 40 x W 30 cm</h6>
	</div>
</div>
