<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img001.jpg'>
			<div class='caption'>
				<h4>Homage</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img002.jpg'>
			<div class='caption'>
				<h4>Ascending Moon I</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img003.jpg'>
			<div class='caption'>
				<h4>Ascending Moon II</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img004.jpg'>
			<div class='caption'>
				<h4>Yellow Placid</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img005.jpg'>
			<div class='caption'>
				<h4>Urban Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img006.jpg'>
			<div class='caption'>
				<h4>Prussian Blue Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img007.jpg'>
			<div class='caption'>
				<h4>Red Placid</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img008.jpg'>
			<div class='caption'>
				<h4>Transition I</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img009.jpg'>
			<div class='caption'>
				<h4>Transition II</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img010.jpg'>
			<div class='caption'>
				<h4>Twilight</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img011.jpg'>
			<div class='caption'>
				<h4>County Wicklow Summer</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img012.jpg'>
			<div class='caption'>
				<h4>Blackstairs Mountain Pool</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img013.jpg'>
			<div class='caption'>
				<h4>Blackstairs Mountain Stream</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img014.jpg'>
			<div class='caption'>
				<h4>Urban Network</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class-'row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img015.jpg'>
			<div class='caption'>
				<h4>Wicklow Farm</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img016.jpg'>
			<div class='caption'>
				<h4>Linear Paths</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img017.jpg'>
			<div class='caption'>
				<h4>King's Blue Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img018.jpg'>
			<div class='caption'>
				<h4>October Moon</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img019.jpg'>
			<div class='caption'>
				<h4>Splendour</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img020.jpg'>
			<div class='caption'>
				<h4>Scarlet Red Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img021.jpg'>
			<div class='caption'>
				<h4>Three Yellow Discs</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img022.jpg'>
			<div class='caption'>
				<h4>Carlow Evening</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img023.jpg'>
			<div class='caption'>
				<h4>Green Variation</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img024.jpg'>
			<div class='caption'>
				<h4>The Geometry of Evening</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img025.jpg'>
			<div class='caption'>
				<h4>Assimilation</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img026.jpg'>
			<div class='caption'>
				<h4>Geometric Abstraction I</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img027.jpg'>
			<div class='caption'>
				<h4>Cohesion</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
</div>