<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>
				<h4>Homage</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 48 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>
				<h4>Ascending Moon I</h4>
				<h6>Oil on Paper, 2012</h6>
				<h6>H 77 x W 57 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>
				<h4>Ascending Moon II</h4>
				<h6>Oil on Paper, 2012</h6>
				<h6>H 77 x W 57 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>
				<h4>Yellow Placid</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 116 x W 85 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img005.jpg' data-toggle="modal" data-target="#myModal5">
			<div class='caption'>
				<h4>Urban Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 114 x W 82.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img006.jpg' data-toggle="modal" data-target="#myModal6">
			<div class='caption'>
				<h4>Prussian Blue Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 56.5 x W 46.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img007.jpg' data-toggle="modal" data-target="#myModal7">
			<div class='caption'>
				<h4>Red Placid</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 116 x W 85 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img008.jpg' data-toggle="modal" data-target="#myModal8">
			<div class='caption'>
				<h4>Transition I</h4>
				<h6>Oil on Paper, 2012</h6>
				<h6>H 58 x W 76 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img009.jpg' data-toggle="modal" data-target="#myModal9">
			<div class='caption'>
				<h4>Transition II</h4>
				<h6>Oil on Paper, 2012</h6>
				<h6>H 58 x W 76 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img010.jpg' data-toggle="modal" data-target="#myModal10">
			<div class='caption'>
				<h4>Twilight</h4>
				<h6>Oil on Board, 2012</h6>
				<h6>H 40 x W 30 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img011.jpg' data-toggle="modal" data-target="#myModal11">
			<div class='caption'>
				<h4>County Wicklow Summer</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 87 x W 118 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img012.jpg' data-toggle="modal" data-target="#myModal12">
			<div class='caption'>
				<h4>Blackstairs Mountain Pool</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 87.5 x W 118 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img013.jpg' data-toggle="modal" data-target="#myModal13">
			<div class='caption'>
				<h4>Blackstairs Mountain Stream</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 87.5 x W 118 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img014.jpg' data-toggle="modal" data-target="#myModal14">
			<div class='caption'>
				<h4>Urban Network</h4>
				<h6>Oil on Board, 2012</h6>
				<h6>H 68 x W 87.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class-'row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img015.jpg' data-toggle="modal" data-target="#myModal15">
			<div class='caption'>
				<h4>Wicklow Farm</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 58 x W 77.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img016.jpg' data-toggle="modal" data-target="#myModal16">
			<div class='caption'>
				<h4>Linear Paths</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 55 x W 82 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img017.jpg' data-toggle="modal" data-target="#myModal17">
			<div class='caption'>
				<h4>King's Blue Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 67.5 x W 91 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img018.jpg' data-toggle="modal" data-target="#myModal18">
			<div class='caption'>
				<h4>October Moon</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 47 x W 56 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img019.jpg' data-toggle="modal" data-target="#myModal19">
			<div class='caption'>
				<h4>Splendour</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 87.5 x W 118.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img020.jpg' data-toggle="modal" data-target="#myModal20">
			<div class='caption'>
				<h4>Scarlet Red Composition</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 67.5 x W 91 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img021.jpg' data-toggle="modal" data-target="#myModal21">
			<div class='caption'>
				<h4>Three Yellow Discs</h4>
				<h6>Oil on Paper, 2013</h6>
				<h6>H 57 x W 77.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img022.jpg' data-toggle="modal" data-target="#myModal22">
			<div class='caption'>
				<h4>Carlow Evening</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 88 x W 118.5 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img023.jpg' data-toggle="modal" data-target="#myModal23">
			<div class='caption'>
				<h4>Green Variation</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 49 x W 64.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img024.jpg' data-toggle="modal" data-target="#myModal24">
			<div class='caption'>
				<h4>The Geometry of Evening</h4>
				<h6>Oil on Paper, 2013</h6>
				<h6>H 57 x W 77 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img025.jpg' data-toggle="modal" data-target="#myModal25">
			<div class='caption'>
				<h4>Assimilation</h4>
				<h6>Oil on Board, 2013</h6>
				<h6>H 87 x W 117.5 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img026.jpg' data-toggle="modal" data-target="#myModal26">
			<div class='caption'>
				<h4>Geometric Abstraction I</h4>
				<h6>Modern British, 2010</h6>
				<h6>H 113 x W 178 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/timwoolcock/img027.jpg' data-toggle="modal" data-target="#myModal27">
			<div class='caption'>
				<h4>Cohesion</h4>
				<h6>Oil on Board, 2012</h6>
				<h6>H 40 x W 30 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Homage</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 58 x W 48 cm</h6>
					<h6>Ref: TW2013_39</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Ascending Moon I</h4>
					<h6>Oil on Paper, 2012</h6>
					<h6>H 77 x W 57 cm</h6>
					<h6>Ref: TW2013_32</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Ascending Moon II</h4>
					<h6>Oil on Paper, 2012</h6>
					<h6>H 77 x W 57 cm</h6>
					<h6>Ref: TW2013_31</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Yellow Placid</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 116 x W 85 cm</h6>
					<h6>Ref: TW2013_16</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img005.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Urban Composition</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 114 x W 82.5 cm</h6>
					<h6>Ref: TW2013_22</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img006.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Prussian Blue Composition</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 56.5 x W 46.5 cm</h6>
					<h6>Ref: TW2013_5</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img007.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Red Placid</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 116 x W 85 cm</h6>
					<h6>Ref: TW2013-4</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img008.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Transition I</h4>
					<h6>Oil on Paper, 2012</h6>
					<h6>H 58 x W 76 cm</h6>
					<h6>Ref: TW2013_30</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img009.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Transition II</h4>
					<h6>Oil on Paper, 2012</h6>
					<h6>H 58 x W 76 cm</h6>
					<h6>Ref: TW2013_29</h6>
				</div>
			</div>
		</div>
	</div>
</div><div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img010.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Twilight</h4>
					<h6>Oil on Board, 2012</h6>
					<h6>H 40 x W 30 cm</h6>
					<h6>Ref: TW2013_28</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img011.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>County Wicklow Summer</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 87 x W 118 cm</h6>
					<h6>Ref: TW2013_25</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img012.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Blackstairs Mountain Pool</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 87.5 x W 118 cm</h6>
					<h6>Ref: TW2013_24</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img013.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Blackstairs Mountain Stream</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 87.5 x W 118 cm</h6>
					<h6>Ref: TW2013_23</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img014.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Urban Network</h4>
					<h6>Oil on Board, 2012</h6>
					<h6>H 68 x W 87.5 cm</h6>
					<h6>Ref: TW2013_38</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img015.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Wicklow Farm</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 58 x W 77.5 cm</h6>	
					<h6>Ref: TW2013_35</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img016.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Linear Paths</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 55 x W 82 cm</h6>
					<h6>Ref: TW2013_19</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img017.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>King's Blue Composition</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 67.5 x W 91 cm</h6>
					<h6>Ref: TW2013_18</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img018.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>October Moon</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 47 x W 56 cm</h6>
					<h6>Ref: TW2013_15</h6>
				</div>
			</div>
		</div>
	</div>
</div><div class="modal fade" id="myModal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img019.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Splendour</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 87.5 x W 118.5 cm</h6>
					<h6>Ref: TW2013_14</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img020.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Scarlet Red Composition</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 67.5 x W 91 cm</h6>
					<h6>Ref: TW2013_13</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img021.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Three Yellow Discs</h4>
					<h6>Oil on Paper, 2013</h6>
					<h6>H 57 x W 77.5 cm</h6>
					<h6>Ref: TW2013_12</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img022.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Carlow Evening</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 88 x W 118.5 cm</h6>
					<h6>Ref: TW2013_11</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal23" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img023.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Green Variation</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 49 x W 64.5 cm</h6>
					<h6>Ref: TW2013_6</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img024.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>The Geometry of Evening</h4>
					<h6>Oil on Paper, 2013</h6>
					<h6>H 57 x W 77 cm</h6>
					<h6>Ref: TW2013_34</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal25" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img025.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Assimilation</h4>
					<h6>Oil on Board, 2013</h6>
					<h6>H 87 x W 117.5 cm</h6>
					<h6>Ref: TW2013_3</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal26" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img026.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Geometric Abstraction I</h4>
					<h6>Modern British, 2010</h6>
					<h6>H 113 x W 178 cm</h6>
					<h6>Ref: 1912</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal27" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/timwoolcock/img027.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Cohesion</h4>
					<h6>Oil on Board, 2012</h6>
					<h6>H 40 x W 30 cm</h6>
					<h6>Ref: TW2013_33</h6>
				</div>
			</div>
		</div>
	</div>
</div>