<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img001.jpg'>
			<div class='caption'>	
				<h4>Forbidden Fruit op.6</h4>
				<h6>Acrylic and oil on panel board, 2013</h6>
				<h6>H 60 x W 50 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img002.jpg'>
			<div class='caption'>	
				<h4>If Rauschenberg was Painted</h4>
				<h6>Acrylic and oil on canvas, 2011</h6>
				<h6>H 200 x W 300 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img003.jpg'>
			<div class='caption'>	
				<h4>A Stream of Consciousness of a Chinese Man in NY</h4>
				<h6>Acrylic and oil on canvas, 2010</h6>
				<h6>H 240 x W 120 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img004.jpg'>
			<div class='caption'>	
				<h4>Mr Ronald McDonald</h4>
				<h6>Acrylic and oil on panel board, 2013</h6>
				<h6>H 50 x W 40 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img005.jpg'>
			<div class='caption'>	
				<h4>Still Life of Lost Images .op3</h4>
				<h6>Acrylic and oil on panel board, 2013</h6>
				<h6>H 50 x W 50 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img006.jpg' style='height:500px'>
			<div class='caption'>
				<h4>Beethoven Frieze 1992</h4>
				<h6>Acrylic and oil on canvas, 2011</h6>
				<h6>H 200 x W 300 cm</h6>
			</div>
		</div>
	</div>
</div>
