<div class='row'>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img001.jpg' data-toggle="modal" data-target="#myModal1">
			<div class='caption'>	
				<h4>Forbidden Fruit op.6</h4>
				<h6>Acrylic and oil on panel board, 2013</h6>
				<h6>H 60 x W 50 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img002.jpg' data-toggle="modal" data-target="#myModal2">
			<div class='caption'>	
				<h4>If Rauschenberg was Painted</h4>
				<h6>Acrylic and oil on canvas, 2011</h6>
				<h6>H 200 x W 300 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img003.jpg' data-toggle="modal" data-target="#myModal3">
			<div class='caption'>	
				<h4>A Stream of Consciousness of a Chinese Man in NY</h4>
				<h6>Acrylic and oil on canvas, 2010</h6>
				<h6>H 240 x W 120 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img004.jpg' data-toggle="modal" data-target="#myModal4">
			<div class='caption'>	
				<h4>Mr Ronald McDonald</h4>
				<h6>Acrylic and oil on panel board, 2013</h6>
				<h6>H 50 x W 40 cm</h6>
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img005.jpg' data-toggle="modal" data-target="#myModal5">
			<div class='caption'>	
				<h4>Still Life of Lost Images .op3</h4>
				<h6>Acrylic and oil on panel board, 2013</h6>
				<h6>H 50 x W 50 cm</h6>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='thumbnail'>
			<img src='img/masakiyada/img006.jpg' style='height:500px' data-toggle="modal" data-target="#myModal6">
			<div class='caption'>
				<h4>Beethoven Frieze 1992</h4>
				<h6>Acrylic and oil on canvas, 2011</h6>
				<h6>H 200 x W 300 cm</h6>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/masakiyada/img001.jpg' data-dismiss="modal">
				<div class='caption'>	
					<h4>Forbidden Fruit op.6</h4>
					<h6>Acrylic and oil on panel board, 2013</h6>
					<h6>H 60 x W 50 cm</h6>
					<h6>Ref: MY6</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/masakiyada/img002.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>If Rauschenberg was Painted</h4>
					<h6>Acrylic and oil on canvas, 2011</h6>
					<h6>H 200 x W 300 cm</h6>
					<h6>Ref: MY5</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/masakiyada/img003.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>A Stream of Consciousness of a Chinese Man in NY</h4>
					<h6>Acrylic and oil on canvas, 2010</h6>
					<h6>H 240 x W 120 cm</h6>
					<h6>Ref: MY4</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/masakiyada/img004.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Mr Ronald McDonald</h4>
					<h6>Acrylic and oil on panel board, 2013</h6>
					<h6>H 50 x W 40 cm</h6>
					<h6>Ref: MY3</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/masakiyada/img005.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Still Life of Lost Images .op3</h4>
					<h6>Acrylic and oil on panel board, 2013</h6>
					<h6>H 50 x W 50 cm</h6>
					<h6>Ref: MY2</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src='img/masakiyada/img006.jpg' data-dismiss='modal'>
				<div class='caption'>	
					<h4>Beethoven Frieze 1992</h4>
					<h6>Acrylic and oil on canvas, 2011</h6>
					<h6>H 200 x W 300 cm</h6>
					<h6>Ref: MY1</h6>
				</div>
			</div>
		</div>
	</div>
</div>
